<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="phpunit.xsd"
    bootstrap="./vendor/autoload.php"
    colors="true"
    verbose="true"
    beStrictAboutChangesToGlobalState="true"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutTodoAnnotatedTests="true">

    <testsuites>
        <testsuite name="UnitTests">
            <directory>tests/unit</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
            <exclude>
                <directory>src/Factory</directory>
                <file>src/Command/Result/CommandResult.php</file>
                <file>src/Command/CommandInterface.php</file>
                <file>src/Process/ProcessInterface.php</file>
                <file>src/ApachePDFBoxServiceFactory.php</file>
            </exclude>
        </whitelist>
    </filter>

</phpunit>